@font-face {
    font-family: cutive-mono;
    src: url('../src/assets/CutiveMono-Regular.ttf');
}

.main {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

button {
    color: black;
    font-family: cutive-mono;
    font-size: 14px;
    margin: 2px;
}